@import "ui-variables";

.test-status-bar {
  color: @text-color-success;
  &:hover {
    color: lighten(@text-color-success, 15%);
  }
}

.test-status-unknown {
  color: @text-color-info;
}

.test-status-pending {
  color: @text-color-warning;
}

.test-status-success {
  color: @text-color-success;
}

.test-status-fail {
  color: @text-color-error;
}
